# Simple ETL Data Pipeline with Python and SQL

## Install and Import necessary libraries

The following libraries need to be installed for this notebook to run.

In [2]:
#!pip install kaggle
#!pip install mysql-connector-python sqlalchemy
import kaggle
import  zipfile
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text

## Downloading Data and Extracting from Zip to CSV

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
zipped_file = zipfile.ZipFile('orders.csv.zip')
#path should be given in ExtractAll if location is different
zipped_file.extractall()
zipped_file.close()

In [5]:
data = pd.read_csv('orders.csv')

## Data Cleaning and Transformation

In [6]:
data.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [7]:
data.duplicated().sum()

0

In [8]:
# Remove duplicate entries if any
# data.drop_duplicates(keep='first', inplace = True)

In [9]:
#checking missing values
data.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [10]:
#to check unique values in a Ship Mode Column and handle null values
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [11]:
# Replace 'Unknown' and 'Not Available' with NaN (null)
data['Ship Mode'] = data['Ship Mode'].replace(['unknown', 'Not Available'], np.nan)

# Check the unique values again
print(data['Ship Mode'].unique())

['Second Class' 'Standard Class' nan 'First Class' 'Same Day']

In [12]:
#Renaming column names by lower case and underscore seperated
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_')

In [13]:
data.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3

In [14]:
# Calculate discount, sales price and profit
data['discount'] = (data['list_price'] * data['discount_percent'])/100
data['sales_price'] = data['list_price'] - data['discount']
data['profit'] = data['sales_price'] - data['cost_price']

In [15]:
#to verify the calculations and see the newly generated columns
data.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1

In [16]:
# Drop the list_price, cost_price and discount_percent as they are not needed anymore for analysis
data.drop(columns = ['list_price', 'cost_price', 'discount_percent'], inplace = True)

In [17]:
data.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1

In [18]:
data.dtypes

order_id          int64
order_date       object
ship_mode        object
segment          object
country          object
city             object
state            object
postal_code       int64
region           object
category         object
sub_category     object
product_id       object
quantity          int64
discount        float64
sales_price     float64
profit          float64
dtype: object

In [19]:
# The type of order_date column needs to be changed to datetime
data['order_date'] = pd.to_datetime(data['order_date'], format = '%Y-%m-%d')

In [20]:
data.dtypes

order_id                 int64
order_date      datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
postal_code              int64
region                  object
category                object
sub_category            object
product_id              object
quantity                 int64
discount               float64
sales_price            float64
profit                 float64
dtype: object

In [21]:
data.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1

## Load Data to Database Table

In [22]:
# Create SQLAlchemy engine to connect to MySQL database. Enter username, password, host and port based on your DB info
engine = create_engine('mysql+mysqlconnector://username:password@host:port/database_name')

In [25]:
# If table already exists in DB, then if_exists='append'
data.to_sql('orders_table', con=engine, if_exists='replace', index=False, chunksize=1000)

9994

In [26]:
# Verify that the data has been successfully loaded
with engine.connect() as connection:
    query = text(f"SELECT * FROM {'orders_table'} LIMIT 2")
    result = pd.read_sql(query, connection)
    print(result)

   order_id order_date     ship_mode   segment        country       city  \
0         1 2023-03-01  Second Class  Consumer  United States  Henderson
1         2 2023-08-15  Second Class  Consumer  United States  Henderson

      state  postal_code region   category sub_category       product_id  \
0  Kentucky        42420  South  Furniture    Bookcases  FUR-BO-10001798
1  Kentucky        42420  South  Furniture       Chairs  FUR-CH-10000454

   quantity  discount  sales_price  profit
0         2       5.2        254.8    14.8
1         3      21.9        708.1   108.1

In [27]:
# to close the database connection
engine.dispose()